:root {
    --primary-color: #333;
    --secondary-color: #e74c3c;
    --background-color: #f4f4f4;
    --text-color: gray;
    --light-text-color: #777;
    --white-color: #fff;
    --card-bg: #fff;
}
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:  serif;
    line-height: 1.6;
    background-color: #fdfafa;
}

h1, h2, h3 {
    font-weight: bold;
    color: var(--primary-color);
}
a {
    text-decoration: none;
    color: var(--primary-color);
}
 /* 1.Navbar section style */
.logo{
   width: 135px;
   height: 82px;
}

.header{
    display: flex;
    justify-content:space-between ;
}
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    list-style-type: none;
}
.nav-items{
    gap: 20px;
}
/* 2.Banner section style */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 5%;
    background: #fdfafa;
}
.hero-content {
    flex: 1;
    max-width: 500px;
    margin-right: 50px;
}
.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.color-01{
    color: #ff6347;
}
.color-02{
    color: gray;
}
.hero-content p {
    color: var(--light-text-color);
}
.hero-image {
    flex: 1;
    text-align: right;
}
.hero-image img {
    max-width: 100%;
    height: auto;
}
/* 3.our plants section */
.section-title {
    text-align: center;
    padding: 50px 0 20px;
}
.section-title h2 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.section-title p {
    color: var(--light-text-color);
    max-width: 600px;
    margin: 0 auto;
}
.plants-section {
    padding: 20px 5%;
}

.plants-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
}

.plant-card {
    background: var(--card-bg);
    
}

.plant-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.plant-card h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.plant-card p {
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 15px;
}

.plant-card button {
    background: var(--secondary-color);
    color: var(--white-color);
    border: none;
    width: 270px;
    height: 50px;
}

.plant-card button:hover {
    background: #c0392b;
}
/* 4.flower and plants style  */
.plants-lover-section{
    margin-left: 200px;
}

.flower-plants-section{
    display: flex;
    align-items: center;  
    gap: 30px;
   
}

.plants{
    width: 600px;
    height: 520px;
    text-align: left;
    align-items: center;
    margin-top: 38px;
    margin-left: 100px;
}
.trusted-badge{
    width: 280px;
    height: 280px;
    margin-bottom: -150px;
    margin-left: 350px;
    position: relative;
}

h3{
    font-weight: bold;
    font-size: 50px;

}
.list-items{
    font-size: 22px;
    gap: 10px;
}

ul.list-items{
    font-family: serif;
    color: gray;
    gap: 10px;
    position: relative;

}
/* 5.latest deal section style  */

.latest-deal-section{
    margin-left: 200px;
    margin-bottom: 50px;
}

.cards-section{
    display: flex;
    gap: 28px;

}

.title{
  font-size: 20px;
  text-align: center;
  align-content: center;
  padding: 35px;
 

}

.shop-title{
    font-size:16px ;
    text-align: center;
}
.right-title{
    font-size: 20px;
    text-align: center;
    align-content: center;
    padding: 35px;
    font-size: 40px;
    text-align: center;
}
.right-shop-title{
    font-size: 28px;
    text-align: center;
}

.right-side{
     background-size: cover;
    background-position: center;
    padding: 80px 5%;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 20px;

}



.card-1{
    background-image: url("assets/deal-bloom.png");

    background-color: rgba(200, 200, 200, 1);
    color: white;
    width: 367px;
    height: 200px;
    margin-bottom: 30px;
    

}
.card-2{
    background-image: url("assets/deal-ana.png");
     background-color: rgba(200, 200, 200, 1);
    color: white;
    width: 367px;
    height: 200px;
}
.card-3{
    background-image: url("assets/deal-zabo.png");
    background-color: rgba(200, 200, 200, 1);
    color: white;
    max-width: 100%;
    width: 750px;
    height: 420px;
}
/* 6.Join section style */
.newsletter-section {
    background-image: url("assets/news-letter-bg.png");
    background-size: cover;
    background-position: center;
    padding: 80px 5%;
    text-align: center;
    color: var(--white-color);
}

.newsletter-content h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--white-color);
}

.newsletter-form input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.newsletter-form button {
    padding: 15px 30px;
    background: var(--secondary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
/* 7.Footer Section style*/
.footer {
    padding: 50px 5% 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #444;
}

.footer-logo img {
    height: 50px;
    margin-right: 10px;
}

.footer-logo p {
    font-size: 0.9em;
    color: var(--light-text-color);
    margin-top: 15px;
}


.footer ul {
    list-style: none;
}


.social-links img {
    margin-right: 15px;
    font-size: 1.2em;
    transition: color 0.3s;
}
/* --- Mobile Responsiveness --- */
@media screen and (max-width:576px) {
   
    .header {
        flex-direction: column;
        padding: 20px;
    }
    .nav-item{
        visibility: hidden;
    }
    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
    }
    .plants{
        margin: 50px auto;
        margin-left: 20px;
    }
    .hero-content {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .hero-content h1 {
        font-size: 2.5em;
    }
    .section-title{
        text-align: center;
    }

    .plants-grid {
        margin-left: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .plant-card button{
        width: 170px;
    
    }
   
    .flower-plants-section{
        width: 360px;
        height: 396px;
        display: flex;
        flex-direction: column;
    }
    .plants{
        width: 370px;
    }
    .plants-lover-section{
        margin-bottom: 200px;
        margin-left: 0;
    }
    .trusted-badge{
        visibility: hidden;
    }
    .latest-deal-section{
        margin-top: 800px;
        margin-left: 0;
    }
    .cards-section{
        display: flex;
        flex-direction: column;
    }

    .newsletter-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .newsletter-form input {
        width: 100%;
        margin-bottom: 10px;
    }

    .newsletter-form  {
        width: 100%;
        margin-left: 0;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-logo img {
        margin: 0 auto 10px;
    }
}